@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  font-size: 10px;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

hr {
  color: #0000001a;
  width: 80%;
  margin: 2rem auto;
}

/* ================
    Navbar
=================== */


  /* search bar */

  .form button {
    border: none;
    background: none;
    color: #8b8ba7;
  }
  .form {
    --timing: 0.3s;
    --width-of-input: 577px;
    --height-of-input: 48px;
    --border-height: 2px;
    --input-bg: #f0f0f0;
    --border-color: #000;
    --border-radius: 62px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg, #f0f0f0);
  }
  .input {
    font-size: 1.3rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  .form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
  }
  .form:focus-within {
    border-radius: var(--after-border-radius);
  }

  input:focus {
    outline: none;
  }
  .form:focus-within:before {
    transform: scale(1);
  }

  .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  .form svg {
    width: 24px;
    margin-top: 3px;
  }

  /* .cart-sign-warpper */


/* =====================
     responsive
==================== */
@media (max-width: 1381px) {
  nav {
    left: 5rem;
    width: 100%;
    gap: 5rem;
  }
}

@media (max-width: 1294px) {
  nav {
    left: 10rem;
    .form {
      width: 400px;
    }
  }
}

@media (max-width: 1163px) {
  nav {
    left: 5rem;
    gap: 4rem;
  }
}

@media (max-width: 1073px) {
  nav {
    left: 5rem;
    gap: 3rem;

    .form {
      width: 300px;
    }
  }
}

@media (max-width: 951px) {
  nav {
    left: 5rem;
    gap: 2rem;
    .form {
      width: 250px;
    }
  }
}

@media (max-width: 874px) {
  nav {
    display: flex;
    justify-content: space-around;
    left: 1rem;

    .burger {
      display: block;
    }

    .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: self-start;
      position: absolute;
      left: 0.5rem;
      top: 6.5rem;
      background: #f0f0f0;
      padding: 3rem;
      border-radius: 1rem;
      z-index: 9;
      scale: 0;
      transition: scale 0.5s ease;

      li {
        font-size: 1.7rem;
        padding: 1rem;
      }

      select {
        font-size: 1.7rem;
      }
    }

    .cart-sign-warpper {
      font-size: 2.2rem;

      button {
        display: block;
      }

      .cart {
        position: relative;
        span {
          position: absolute;
          top: -15px;
          left: 15px;
          font-size: 1.2rem;
          color: #000;
          padding: 0.5rem 1rem;
        }
      }

      .login {
        a i {
          font-size: 2.5rem;
        }
      }
    }

    .form {
      position: absolute;
      top: 7rem;
      left: 50%;
      transform: translateX(-50%);
      width: 300px;
      scale: 0;
      transition: scale 0.5s ease;
    }
  }

  .menu.show {
    scale: 1;
  }

  .form.show {
    scale: 1;
  }
}

@media (max-width: 541px) {
  nav {
    top: 3.5rem;
    /* padding: 4rem 0; */

    .burger {
      width: 30px;
      height: 20px;
    }
  }
}

@media (max-width: 480px) {
  nav {
    left: 0;
    gap: 1rem;

    .burger {
      width: 30px;
      height: 20px;
    }
  }
}

@media (max-width: 344px) {
  nav {
    left: 0;

    .logo-burger {
      gap: 1rem;
    }

    .burger {
      width: 30px;
      height: 20px;
    }
  }
}
