.new-arrivals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
  padding: 2rem;

  .new-arrivals-title h2 {
    text-align: center;
    font-size: 4.8rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  .new-arrivals-contant,
  .topSelling-contant {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    max-width: 1400px;
    margin-left: 0px auto;

    .new-arrivals-card {
      width: 300px;
      background-color: #fff;
      border-radius: 1rem;
      padding: 1rem;
      cursor: pointer;
      transition: transform 0.5s ease;
      &:hover {
        transform: scale(1.02);
      }

      .prodect-img {
        img {
          width: 100%;
          height: 288px;
          border-radius: 1rem;
        }
      }

      h3 {
        font-size: 1.8rem;
        font-weight: 600;
        padding: 0.5rem 0;
      }

      .rating {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
        padding-bottom: 0.5rem;

        img {
          width: Hug (126.2px);
          height: 19px;
        }

        span {
          font-size: 1rem;

          span {
            color: #888;
          }
        }
      }

      .price {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2rem;
        font-size: 2.4rem;
        font-weight: 600;
        padding-bottom: 1rem;

        .old {
          color: #888;
        }

        .discount {
          font-size: 1.4rem;
          font-weight: 400;
          background-color: #ffebeb;
          color: red;
          padding: 0.5rem 1rem;
          border-radius: 2rem;
        }
      }
    }
  }

  .seeMore-btn {
    border: 1px solid #8888881a;
    background: none;
    outline: none;
    padding: 1rem 6rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.5s ease;
    &:hover {
      scale: 0.9;
    }
  }
}
